body {
    background-image: url("../images/mixed-scrabble-letters.jpg");
    background-image: width 100%;
}

#game h1 {
    padding-top: 10px;
    text-align: center;
    color: rgb(1, 73, 1)
}

#game h2 {
    margin-left: 50px;
    font-family: cursive;
}

#game p {
    font-size: 24px;
    color: blue;
    margin-left: 100px;
}

